

        <h2>User info</h2>
        <table class='table'>
          <tr><%= attachment_image_tag user, :profile_image, size: '60x60', fallback: "no_image.jpg" %></tr>
          <tr>
	          <th>name</th>
	          <th><%= user.name %></th>
          </tr>
          <tr>
	          <th>introduction</th>
	          <th><%= user.introduction %></th>
          </tr>
        </table>
        <%#if current_user.id == user.id %>
          <%= link_to "", edit_user_path(user), class:"btn btn-outline-secondary btn-block fas fa-user-cog edit_user_32275" %>
        <%#else %>
          <%#=link_to "", user_path(current_user), class:"btn btn-outline-secondary btn-block fas fa-user-cog edit_user_32275" %>
        <%#end %>

